@import "Color";

.root {
  display: flex;
  flex-direction: row;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #{$color-default};
  border-radius: 50px;
}
.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
}
.button {
  border: 0 none;
  background-color: transparent;
  color: #ffffff;
  height: 30px;
  padding: 0 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
  transition: all 0.4s;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: darken($color-default, 15);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;

    &:hover {
      background-color: transparent!important;
      color: #ffffff;
    }
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.buttonDirectory {
  font-size: 13px;

  &:first-child {
    border-radius: 50px 0 0 50px;
  }
  &:last-child {
    border-radius: 0 50px 50px 0;
  }
}
.buttonNumber {
  width: 30px;
  padding: 0;
}
.buttonFirst {
  position: relative;
}
.buttonLast {
  position: relative;
}
.buttonActive {
  background-color: darken($color-default, 15);
}
.ellipsis {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.6;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}
.info {
  margin: 0 15px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;

  & + button {
    margin-left: 0!important;
  } 
}

.colorLIGHT .main {
  background-color: #{$color-light};
}
.colorLIGHT .button {
  color: darken($color-light, 50);

  &:hover {
    background-color: darken($color-light, 20);
  }

  &:disabled {
    color: darken($color-light, 50);
  }
}
.colorLIGHT .info {
  color: darken($color-light, 50);
}
.colorLIGHT .buttonActive {
  background-color: darken($color-light, 20);
}

.colorDARK .main {
  background-color: #{$color-dark};
}
.colorDARK .button {
  &:hover {
    background-color: lighten($color-dark, 30);
  }
}
.colorDARK .buttonActive {
  background-color: lighten($color-dark, 30);
}

.colorRED .main {
  background-color: #{$color-red};
}
.colorRED .button {
  &:hover {
    background-color: darken($color-red, 15);
  }
}
.colorRED .buttonActive {
  background-color: darken($color-red, 15);
}

.colorBLUE .main {
  background-color: #{$color-blue};
}
.colorBLUE .button {
  &:hover {
    background-color: darken($color-blue, 20);
  }
}
.colorBLUE .buttonActive {
  background-color: darken($color-blue, 20);
}

.colorGREEN .main {
  background-color: #{$color-green};
}
.colorGREEN .button {
  &:hover {
    background-color: darken($color-green, 15);
  }
}
.colorGREEN .buttonActive {
  background-color: darken($color-green, 15);
}

.colorORANGE .main {
  background-color: #{$color-orange};
}
.colorORANGE .button {
  &:hover {
    background-color: darken($color-orange, 15);
  }
}
.colorORANGE .buttonActive {
  background-color: darken($color-orange, 15);
}