.root {
  position: relative;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.colorDEFAULT .main {
  background-color: #cccccc;
}
.colorRED .main {
  background-color: red;
}
.buttonDirectory {
  margin-left: 10px;
}
.button {
  position: relative;
}
.buttonDirectory {
  position: relative;
}
.buttonNext {
  background-color: green;
}
.buttonPrev {
  background-color: orange;
}
.buttonNumber {
  background-color: blue;
}
.buttonFirst {
  position: relative;
}
.buttonLast {
  position: relative;
}
.buttonActive {
  background-color: red;
}
.buttonDisable {
  opacity: 0.4;
}
.info {
  position: relative;
}
