.root {
  position: relative;
}
.main {
  position: relative;
}
.directory {
  position: relative;
}
.button {
  position: relative;
}
.buttonDirectory {
  position: relative;
}
.buttonNext {
  position: relative;
}
.buttonPrev {
  position: relative;
}
.buttonFirst {
  position: relative;
}
.buttonLast {
  position: relative;
}
.buttonActive {
  position: relative;
}
.info {
  position: relative;
}
