.button {
  border-radius: 100%;
}
.buttonDirectory {
  width: 30px;
  padding: 0;
}
.buttonActive {
  background-color: #1c988d!important;
}
.ellipsis {
  background-color: transparent!important;
  color: #888888;
  font-size: 12px;
}